/* 
   Archivo de estilos globales.
   Se recomienda usar index.html para estilos que dependan de clases dinámicas de Tailwind.
*/

/* Estilo para Carruseles */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #22d3ee; border-radius: 10px; }